<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div [class]="banner.active ? 'carousel-item active' : 'carousel-item'" *ngFor="let banner of banners">
          <div class="container ">
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <div class="detail-box">
                  <h1>
                     <!--
                      Nous vendons les <br>
                      meilleurs vêtements
                    --> 
                    {{ banner.libelle }}
                  </h1>
                  <p>
                    {{ banner.description }}</p>
                  <div class="btn-box">
                    <a href="" class="btn-1">
                      Voir
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-7">
                <div class="img-box">
                  <img src="assets/images/banner/{{ banner.rang }}.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#customCarousel1" *ngFor="let number of numbers" [attr.data-slide-to]="number-1" [class]="number == 1 ? 'active' : ''"></li>
      </ol>
    </div>
  </section>