<section class="basket_section layout_padding2-top layout_padding-bottom">
    <div class="m-3">
        <div class="heading_container heading_center">
            <h2>
                Panier
            </h2>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" sortable="produit">Produit</th>
                <th scope="col" sortable="prix">Prix</th>
                <th scope="col" sortable="nombre">Nombre</th>
                <th scope="col" sortable="prix_total">Prix Total</th>
                <th scope="col" sortable="statut">Statut</th>
                <th scope="col" sortable="actiios">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr
               *ngFor="let basket of baskets" >
                <th scope="row">{{ basket.idCommande }}</th>
                <td>
                    {{ basket.nomProduit }}
                </td>
                <td>{{ basket.prixProduit }}</td>
                <td>{{ basket.nombre }}</td>
                <td>{{ basket.prixTotal }}</td>
                <td>{{ basket.statutValue }}</td>
                <td>
                    <div *ngIf="basket.statut == 0">
                        <button class="btn-success actions-btn" title="Commander" (click)="_doCommande(basket.idCommande)"><i class="fa fa-check"></i></button>
                        <button class="btn-success actions-btn delete" title="Supprimer" (click)="_deleteCommande(basket.idCommande)"><i class="fa fa-trash"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
      
</section>
